/* Color palette

#8e0707 - Red
rgba(142, 7, 7, 0.75) more transparent 
#060b60 - Blue
rgba(6, 11, 96, 0.75) more transparent
#262423 - Grey
#ffffff- Black
#000000 - White

Fonts
font-family: 'Source Sans Pro', sans-serif;

*/


/* Global Style */
html, body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.content {
    flex: 1 0 auto;
}


/* Footer Style */
.bluefooter {
    /* Shaping */
    flex-shrink: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    /* Color*/
    background-color:rgba(6, 11, 96, 0.75);
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.redfooter {
    flex-shrink: 0;
    height: 10px;
    background-color: rgba(142, 7, 7, 0.75); 
}

.footertext {
    margin: 10px;
    color: #fff;
    text-align: center;

}

.footerlink {
    color: #fff;
}

/* Index Style */
.headerimg {
    border: 1px solid #000;
    margin: 10px;
    
}

.main {
    width: 600px;
    margin: auto;
    display: flex;
    color: #262423; 
    position: relative;

}

.mainlink {
    color: #060b60;
    font-weight: 400;
}

.headertext {
    /* Positioning */
    position: absolute;
    top: 150px;
    left: 350px;
    transform: translate(-50%, -50%);
    width: 505px;
    padding: 10px;

    /* Styling */
    font-size: 48px;
    text-align: center;
    background-color: #fff;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    
}